body {
  background-color: rgb(142, 142, 243);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffff;
}

#total {
  padding-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 40vh;
  height: 45vh;
  gap: 2px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 3px 3px 10px black;
}

input {
  outline: none;
  width: 30%;
}

h1 {
  text-shadow: 2px 2px 3px black;
}

#totalx {
  margin-top: 10px;
}

#total {
  color: black;
}

footer {
  position: relative;
  top: 10vh;
}

strong {
  color: #000000;
  text-decoration: underline;
}
